# Data Acquisition Case Study

## Q1. Write Python code to create a new file named "sample_data.txt" in your documents folder and write the following content to it

ICTAK

Thejaswini,

Technopark Rd,

Technopark Campus,

Thiruvananthapuram,

Kerala 695581

In [3]:
import os
with open(os.path.join("D:","Sample_data.txt"),"w")as file:
    file.write("ICTAK\n\nThejaswini,\n\nTechnopark Rd,\n\nTechnopark campus,\n\nThiruvananthapuram,\n\nKerala 695581")

## Q2. Write Python code to read and print the contents in "sample_data.txt"

In [6]:
import os
with open(os.path.join("D:","Sample_data.txt"),"r")as file:
    content=file.read()
    print(content)

ICTAK

Thejaswini,

Technopark Rd,

Technopark campus,

Thiruvananthapuram,

Kerala 695581

## Q3. Write Python code to check if "sample_data.txt" exists in documents folder

In [9]:
import os
if os.path.join("Sample_data.txt"):
    print("file exists")
else:
    print("file does not exists")

file exists

## Q4: Save the following dataframe content to a CSV file (data.csv) in your downloads folder

In [12]:
import pandas as pd

data = {"Id": [1, 2, 3],
        "Name": ["Alice", "Bob", "Charlie"],
        "Subject": ["Science", "Maths", "History"]}
df = pd.DataFrame(data)

In [14]:
df.to_csv("C:\\Users\\dssm3\\Downloads\\data.csv")

## Q5: Save the above dataframe content to an Excel (data.xlsx, sheet name: Sheet1) file in your documents folder

In [17]:
df.to_excel("C:\\Users\\dssm3\\OneDrive\\Documents\\data.xlsx",sheet_name="Sheet1")

## Q6. Write code to get the list of files in your Downloads folder and save it to a CSV file name "download_list.csv"

In [20]:
import os
files =pd.DataFrame(os.listdir("C:\\Users\\dssm3\\Downloads"))
print("Files in current directory:", files)
files.to_csv("C:\\Users\\dssm3\\Downloads\\download_list.csv")

Files in current directory:                                        0
0                     .ipynb_checkpoints
1          05_python_programming (1).txt
2              05_python_programming.txt
3   06_python_practice_questions (1).txt
4   06_python_practice_questions (2).txt
..                                   ...
71         Virtual competition (1).ipynb
72             Virtual competition.ipynb
73        VSCodeUserSetup-x64-1.94.2.exe
74                      zsquare (1).xlsx
75                          zsquare.xlsx

[76 rows x 1 columns]

## Q7. Write Python code to save the contents of the given random_array variable as a numpy file

In [23]:
import numpy as np
random_array = np.random.rand(10, 10)

In [25]:
np.save("random_array.npy",random_array)
print("Random_array saved as random_array.npy")

Random_array saved as random_array.npy

## Q8. Write python code to save the contents of the above numpy file as text file named "random.txt" with a delimitter of ";" to Documents folder

In [28]:
file_path=("C:\\Users\\dssm3\\OneDrive\\Documents\\random.txt")
np.savetxt("random.txt",random_array, delimiter=";")

## Download and analyze Bike Sharing Dataset (hour.csv) for UCI Irvin Repository (https://archive.ics.uci.edu/dataset/275/bike+sharing+dataset) and answer the following questions

## Q9. What is the size of the dataset? (Number of rows and columns)

In [180]:
import pandas as pd
data=pd.read_csv("C:\\Users\\dssm3\\Downloads\\bike+sharing+dataset\\hour.csv")
data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [182]:
data.shape

(17379, 17)

## Q10. What are the data types of each column?

In [185]:
data.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

## Q11. Are there any missing values in the dataset? If so, which columns have missing values and how many?

In [188]:
data.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

## Q.12. For the windspeed column, calculate the mean, median, and standard deviation.

In [191]:
data.windspeed

0        0.0000
1        0.0000
2        0.0000
3        0.0000
4        0.0000
          ...
17374    0.1642
17375    0.1642
17376    0.1642
17377    0.1343
17378    0.1343
Name: windspeed, Length: 17379, dtype: float64

In [193]:
mean=data.windspeed.mean()
print("mean=",mean)
median=data.windspeed.median()
print("median=",median)
std=data.windspeed.std()
print("standard_deviation=",std)

mean= 0.1900976063064618
median= 0.194
standard_deviation= 0.12234022857279413

## Q13. Identify any potential outliers in a numerical column of your choice. Explain your approach.

In [196]:
Q1=data["temp"].quantile(0.25)
Q3=data["temp"].quantile(0.75) 
IQR=Q3-Q1 
lower_bound=Q1-1.5 * IQR
upper_bound=Q3+1.5*IQR 
#identify the outliers
outliers=data[(data["temp"]<lower_bound)|(data["temp"]>upper_bound)]
outliers

Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, hr, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

## Q.14 Find the correlation between numerical columns and discuss any interesting relationships.

In [199]:
#correlation between temp and atemp
corr1=data["temp"].corr(data["atemp"])
corr1

0.9876721390396485

In [201]:
#correlation between humidity and windspeed
corr2=data["hum"].corr(data["windspeed"])
corr2

-0.2901048950638614

In [203]:
#correlation between registered and cnt
corr3=data["registered"].corr(data["cnt"])
corr3

0.9721507308642988

In [205]:
#correlation between cashual and registered 
corr4=data["registered"].corr(data["casual"]) 
corr4

0.5066177004294632

## Q.15 Based on your analysis, provide a brief summary of any insights or patterns you discovered in the dataset.

### correlation between numerical columns 
#### 1.correlation between temp and atemp(very strong correlation)
#### 2.correlation between humidity and windspeed(negative correlation) 
#### 3.correlation between registered and cnt(very strong positive correlation) 
#### 4.correlation between registered and cashual(positive correlation)

## Q.16 In which season (Spring, Summer, Fall, Winter) people rented bikes the most?

In [210]:
season_rent=data.groupby(['season'])['cnt'].count().sort_values().tail(1)
season_rent

season
3    4496
Name: cnt, dtype: int64

## Q.17 What is the peak hour in which bike rents the most?

In [221]:
peak_hour=data.groupby('hr')['hr'].count().sort_values().tail(1)
peak_hour

hr
17    730
Name: hr, dtype: int64

## Q.18 In which day of a week bikes rents out most?

In [229]:
weekday_rent=data.groupby('weekday')['cnt'].count().sort_values(ascending=False)
weekday_rent

weekday
6    2512
0    2502
5    2487
1    2479
3    2475
4    2471
2    2453
Name: cnt, dtype: int64

## Q.19 In which hour Casual users rents bikes the most?

In [233]:
hour_cashual_users=data.groupby(['hr'])['casual'].count().sort_values().tail()
hour_cashual_users

hr
13    729
14    729
15    729
16    730
17    730
Name: casual, dtype: int64

## Q.20 What is the maximum temperature observed in each of the seasons?

In [237]:
max_temp=data.groupby('season')['temp'].max()
max_temp

season
1    0.72
2    0.94
3    1.00
4    0.76
Name: temp, dtype: float64